@import "tailwindcss";
@theme {
  --color-primary: #2a83e9;
  --color-top-header: #005be3;
}
@layer utilities {
  @keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideIn {
  animation: slideIn 0.25s ease-out forwards;
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease-out forwards;
}
}

* {
  /* margin: 0; */
  /* padding: 0; */
  box-sizing: border-box;
}
